<div class="container-fluid">
  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border spinner-center" role="status"></div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Tìm kiếm</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm " #input>
    </mat-form-field>
    <div class="text-center">
      <button mat-raised-button color="primary" (click)="openSave(TYPE_DIALOG.NEW)"><i class="fa-solid fa-plus"></i>
        Thêm
      </button>
    </div>
  </div>
</div>

<!-- Row -->
<div class="row row-sm">
  <div class="col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-body">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- index Column -->
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> STT</th>
            <td mat-cell *matCellDef="let row; index as i"> {{i + 1}} </td>
          </ng-container>

          <!-- avatar Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hình ảnh</th>
            <td mat-cell *matCellDef="let row">
              <img class="img-customer" src="{{row.image}}">
            </td>
          </ng-container>

          <!-- first-name Column -->
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="lastname"> Họ và tên</th>
            <td mat-cell *matCellDef="let row"> {{row.firstname}} {{row.lastname}}</td>
          </ng-container>

          <!-- Date of birth Column -->
          <ng-container matColumnDef="dateOfBirth">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày sinh</th>
            <td mat-cell *matCellDef="let row"> {{row.dateOfBirth | date:'dd-MM-yyyy'}} </td>
          </ng-container>

          <!-- gender Column -->
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Giới tính</th>
            <td mat-cell *matCellDef="let row"> {{row.gender == 1 ? 'Nam' : 'Nữ'}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.status == 1" class="status" style="background-color: green">Hoạt động</span>
              <span *ngIf="row.status == 0" class="status" style="background-color: orangered">Ngưng hoạt động</span>
            </td>
          </ng-container>
          <!-- thao tác Column -->
          <ng-container matColumnDef="thaoTac">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Thao tác</th>
            <td mat-cell *matCellDef="let row" width="15%">
              <button mat-icon-button color="accent" (click)="openSave(TYPE_DIALOG.UPDATE,row)" title="Sua">
                <i class="fa-solid fa-pen"></i>
              </button>
             <ng-container *ngIf="storageService.getAuthority === TYPE_AUTH.SUPER_ADMIN">
               <button *ngIf="row.status == 1" mat-icon-button class="text-green"
                       (click)="active(RESULT_CLOSE_DIALOG.NOT_ACTIVE,row)" title="Click để vô hiệu hóa khách hàng">
                 <i class="fa-solid fa-lock-open"></i>
               </button>

               <button *ngIf="row.status == 0" mat-icon-button color="warn" (click)="active(RESULT_CLOSE_DIALOG.ACTIVE,row)" title="Click để kích hoạt khách hàng">
                 <i class="fa-solid fa-lock"></i>
               </button>
             </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          Row shown when there is no matching data.
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Không có dữ liệu nào phù hợp với "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 35, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->
