<div class="row">
  <h2 class="col-11">{{title}}</h2>
  <span class="col-1 fs-4" (click)="onDismiss()"><i class="fa-solid fa-xmark"></i></span>
</div>

    <form [formGroup]="formGroup" class="example-form">
      <div class="row">
        <mat-form-field class=" col-6" appearance="outline">
          <mat-label>Tên mặt kính</mat-label>
          <input formControlName="name" type="text"
                 id="exampleInputName1" required maxlength="50" placeholder="VD: 50 mm"
                 matInput>
          <mat-error
            *ngIf="formGroup.get('name')?.hasError('isSpace') &&
            formGroup.get('name')?.touched">Bạn phải nhập đường kính mặt
          </mat-error>
          <mat-error
            *ngIf="formGroup.get('name')?.hasError('maxlength') &&
            formGroup.get('name')?.touched">Đường kính mặt không vượt quá 50 ký tự
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-6">
          <mat-label>Trạng thái</mat-label>
          <mat-select disableRipple formControlName="status">
            <mat-option [value]="1">Đang sử dụng</mat-option>
            <mat-option [value]="0">Đã xóa</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()" type="button">
          <span>Lưu</span>
        </button>
        <button mat-raised-button color="warn" (click)="onDismiss()" type="button">
          <span>Đóng</span>
        </button>
      </mat-dialog-actions>
    </form>

