<div *ngIf="isLoading" class="loading">
  <div class="spinner-border spinner-center" role="status">
  </div>
</div>

<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center">

    <div *ngIf="showConfirmEmail" class="row mt-5" style="width: 30%">
      <div class="card col border-0 p-4 shadow">
        <div class="card-body text-center">
          <h2><i class="fa-solid fa-envelope"></i> Email Đăng Ký Tài Khoản Của Bạn?</h2>
          <form class="mt-4">
            <mat-form-field appearance="outline" style="width: 70%">
              <mat-label><i class="fa-solid fa-envelope"></i> Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl"
                     placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email không được để trống!
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('email')">
                Email sai định dạng!
              </mat-error>
            </mat-form-field>
            <div class="form-group mt-2">
              <button mat-raised-button type="button" style="background-color: black; width: 70%" class="text-warning" (click)="findCustomerByEmailAndSendOTP()">TIẾP THEO</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="showConfirmCode" class="row m-5" style="width: 40%">
      <div class="card col border-0 p-4 shadow">
        <div class="card-body text-center">
          <h2><i class="fa-solid fa-code"></i> Vui Lòng Nhập Mã Xác Minh!</h2>
          <br>
          <h4>Mã xác minh của bạn sẽ được gửi bằng email đến <br><b><i class="fa-solid fa-paper-plane"></i> {{staffChangePass.email}}</b></h4>
          <form class="mt-4 d-flex justify-content-center">
            <div class="row" style="width: 70%">
              <code-input [isCodeHidden]="false"
                          [codeLength]="6"
                          (codeChanged)="onCodeChanged($event)"
                          (codeCompleted)="onCodeCompleted($event)"
                          class="col-12">
              </code-input>
              <h4 *ngIf="!showMessageSendTo" class="col-12 mt-5" style="color: #b9b9b9">Nếu chưa nhận được mã vui lòng đợi trong {{ticks}} giây để gửi lại.</h4>
              <h4 *ngIf="showMessageSendTo" class="col-12 mt-5">Bạn vẫn chưa nhận được ? <br> <a class="text-primary btn" (click)="sendMailAgain()"><b>Gửi lại</b></a></h4>
              <button mat-raised-button type="button" style="background-color: black" class="col-12 text-warning mt-4" (click)="verificationCode()">TIẾP THEO</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="showChangePass" class="row m-5" style="width: 30%">
      <div class="card col border-0 p-4 shadow">
        <div class="card-body text-center">
          <h2><i class="fa-solid fa-key"></i> Thiết Lập Lại Mật Khẩu</h2>
          <br>
          <h4>Tạo mật khẩu mới cho tài khoản<br> <b><i class="fa-solid fa-user"></i> {{staffChangePass.firstname + ' ' + staffChangePass.lastname}}</b></h4>
          <form class="mt-4" [formGroup]="formGroup">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mật khẩu mới</mat-label>
              <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error
                *ngIf="formGroup.get('password')?.hasError('required') &&
            formGroup.get('password')?.touched">Mật khẩu không được để trống!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('password')?.hasError('minlength') &&
            formGroup.get('password')?.touched">Mật khẩu tối thiểu 8 ký tự!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('password')?.hasError('maxlength') &&
            formGroup.get('password')?.touched">Mật khẩu tối đa 24 ký tự!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('password')?.hasError('pattern') &&
            formGroup.get('password')?.touched">Mật khẩu không được viết dấu và không chứa khoảng trắng!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Xác nhận mật khẩu</mat-label>
              <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirm_password">
              <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error
                *ngIf="formGroup.get('confirm_password')?.hasError('required') &&
            formGroup.get('confirm_password')?.touched">Xác nhận mật khẩu không được để trống!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('confirm_password')?.hasError('minlength') &&
            formGroup.get('confirm_password')?.touched">Xác nhận mật khẩu tối thiểu 8 ký tự!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('confirm_password')?.hasError('maxlength') &&
            formGroup.get('confirm_password')?.touched">Xác nhận mật khẩu tối đa 24 ký tự!
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('confirm_password')?.hasError('pattern') &&
            formGroup.get('confirm_password')?.touched">Xác nhận mật khẩu không được viết dấu và không chứa khoảng trắng!
              </mat-error>
            </mat-form-field>
            <span style="font-size: 12px;color: red"
                  *ngIf="formGroup.valid && formGroup.getRawValue().password !== formGroup.getRawValue().confirm_password">Mật khẩu không trùng khớp!
              </span>
            <button mat-raised-button type="button" style="background-color: black" class="text-warning w-100 mt-3" (click)="onSubmit()">XÁC NHẬN</button>
          </form>
        </div>
      </div>
    </div>


  </div>
</div>

