<div>
  <h4 class="mb-0 font-weight-bold">Lý do từ chối</h4>
  <span class="fe fe-x icon-close" (click)="onDismiss()"></span>
</div>

<div class="my-1 d-flex justify-content-sm-center">
  <form class="example-form w-100">
    <mat-form-field class="example-full-width w-100">
      <textarea rows="5" matInput value="{{reason}}" readonly></textarea>
    </mat-form-field>
  </form>
</div>

<div class="text-center">
  <button mat-raised-button (click)="onDismiss()" color="warn">
    <span><i class="fa-solid fa-xmark"></i> Đóng</span>
  </button>
</div>
