<div class="container-fluid">
  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border spinner-center" role="status"></div>
  </div>
</div>

<div class="d-flex justify-content-between">
  <h2>{{title}}</h2>
  <span style="font-size: 25px" (click)="onDismiss()"><i class="fa-solid fa-xmark"></i></span>
</div>

<mat-stepper linear #stepper>
  <mat-step [stepControl]="formGroup">
  <form [formGroup]="formGroup">
<!--      Thông tin sản phẩm-->
      <ng-template matStepLabel>Thông tin sản phẩm</ng-template>
      <div class="row">
        <div class="col-3">
          <div class="custom-dropzone-avt" ngx-dropzone [accept]="'image/*'" (change)="onSelectAvt($event)"
               [multiple]='false' *ngIf="showImage">
            <ngx-dropzone-label style="font-size: 12px">Chọn ảnh đại diện</ngx-dropzone-label>
            <ngx-dropzone-image-preview *ngIf="fileAvt.length > 0" ngProjectAs="ngx-dropzone-preview" class="imgAvt"
                                        [file]="fileAvt[0]"
                                        [removable]="true"
                                        (removed)="onRemoveAvt()">
            </ngx-dropzone-image-preview>
          </div>
          <div *ngIf="!showImage" class="text-center">
            <img src="assets/img/avtProduct/{{formGroup.getRawValue().avatar}}">
          </div>
          <div *ngIf="!showImage" class="text-center">
            <button type="button" mat-icon-button color="primary" class="mt-3" (click)="changeShowImage()">
              <i class="fa-solid fa-camera-rotate change-img"></i>
            </button>
          </div>
        </div>
        <div class="col-9">

          <div class="row">
            <mat-form-field class="w-100" appearance="outline" class="col-12">
              <mat-label>Tên sản phẩm *</mat-label>
              <input type="text" matInput placeholder="..." formControlName="name">
              <mat-error *ngIf="formGroup.get('name')?.hasError('isSpace') && formGroup.get('name')?.touched">
                Vui lòng không bỏ trống tên sản phẩm!
              </mat-error>
              <mat-error *ngIf="formGroup.get('name')?.hasError('pattern') && formGroup.get('name')?.touched">
                Tên sản phẩm không được chứa ký tự đặc biệt!
              </mat-error>
              <mat-error *ngIf="formGroup.get('name')?.hasError('minlength') && formGroup.get('name')?.touched">
                Tên sản phẩm tối thiểu 4 ký tự!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="w-100" appearance="outline" class="col-4">
              <mat-label>Giá sản phẩm</mat-label>
              <input type="number" matInput placeholder="..." formControlName="price" min="0" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
              <mat-error *ngIf="formGroup.get('price')?.hasError('required') && formGroup.get('price')?.touched">
                Vui lòng không bỏ trống giá sản phẩm!
              </mat-error>
              <mat-error *ngIf="formGroup.get('price')?.hasError('min') && formGroup.get('price')?.touched">
                Giá sản phẩm tối thiểu 10.000 VNĐ!
              </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline" class="col-4">
              <mat-label>Số lượng sản phẩm</mat-label>
              <input type="number" matInput placeholder="..." formControlName="quantity" min="0" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
              <mat-error *ngIf="formGroup.get('quantity')?.hasError('required') && formGroup.get('quantity')?.touched">
                Vui lòng không bỏ trống số lượng sản phẩm!
              </mat-error>
              <mat-error *ngIf="formGroup.get('quantity')?.hasError('min') && formGroup.get('quantity')?.touched">
                Số lượng sản phẩm tối thiểu là 0!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-4">
              <mat-label>Đối tượng sử dụng</mat-label>
              <mat-select disableRipple formControlName="gender">
                <mat-option [value]='true'>Nam</mat-option>
                <mat-option [value]='false'>Nữ</mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('gender')?.hasError('required') && formGroup.get('gender')?.touched">
                Vui lòng không bỏ trống giới tính sản phẩm!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="outline" class="col-4" formGroupName="product">
              <mat-label>Dòng sản phẩm</mat-label>
              <mat-select formControlName="id">
                <mat-option *ngFor="let p of listProduct" [value]="p.id" [disabled]="p.status == 0 || p.category.status == 0">
                  <span *ngIf="p.status == 1 && p.category.status == 1">{{p.name}}</span>
                  <span *ngIf="p.status == 0 || p.category.status == 0"><del>{{p.name}}</del></span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('product')?.invalid && formGroup.get('product')?.touched">
                Vui lòng không bỏ trống dòng sản phẩm!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-4" formGroupName="brand">
              <mat-label>Thương hiệu</mat-label>
              <mat-select formControlName="id">
                <mat-option *ngFor="let b of listBrand" [value]="b.id" [disabled]="b.status == 0">
                  <span *ngIf="b.status == 1">{{b.name}}</span>
                  <span *ngIf="b.status == 0"><del>{{b.name}}</del></span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('brand')?.invalid && formGroup.get('brand')?.touched">
                Vui lòng không bỏ trống thương hiệu sản phẩm!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-4" formGroupName="material">
              <mat-label>Chất liệu</mat-label>
              <mat-select formControlName="id">
                <mat-option *ngFor="let m of listMaterial" [value]="m.id" [disabled]="m.status == 0">
                  <span *ngIf="m.status == 1">{{m.name}}</span>
                  <span *ngIf="m.status == 0"><del>{{m.name}}</del></span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('material')?.invalid && formGroup.get('material')?.touched">
                Vui lòng không bỏ trống chất liệu sản phẩm!
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="outline" class="col-3" formGroupName="origin">
              <mat-label>Xuất xứ</mat-label>
              <mat-select formControlName="id">
                <mat-option *ngFor="let o of listOrigin" [value]="o.id" [disabled]="o.status == 0">
                  <span *ngIf="o.status == 1">{{o.name}}</span>
                  <span *ngIf="o.status == 0"><del>{{o.name}}</del></span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('origin')?.invalid && formGroup.get('origin')?.touched">
                Vui lòng không bỏ trống xuất xứ sản phẩm!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-3" formGroupName="waterproof">
              <mat-label>Chống nước</mat-label>
              <mat-select formControlName="id">
                <mat-option *ngFor="let w of listWaterproof" [value]="w.id" [disabled]="w.status == 0">
                  <span *ngIf="w.status == 1">{{w.name}} ATM</span>
                  <span *ngIf="w.status == 0"><del>{{w.name}} ATM</del></span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('waterproof')?.invalid && formGroup.get('waterproof')?.touched">
                Vui lòng không bỏ trống thông số chống nước!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-3" formGroupName="facediameter">
              <mat-label>Đường kính mặt</mat-label>
              <mat-select formControlName="id">
                <mat-option *ngFor="let f of listFacediameter" [value]="f.id" [disabled]="f.status == 0">
                  <span *ngIf="f.status == 1">{{f.name}} mm</span>
                  <span *ngIf="f.status == 0"><del>{{f.name}} mm</del></span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('facediameter')?.invalid && formGroup.get('facediameter')?.touched">
                Vui lòng không bỏ trống thông số đường kính mặt!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-3" formGroupName="batterypower">
              <mat-label>Năng lượng pin</mat-label>
              <mat-select formControlName="id">
                <mat-option *ngFor="let b of listBatterypower" [value]="b.id" [disabled]="b.status == 0">
                  <span *ngIf="b.status == 1">{{b.name}} Quartz/Pin</span>
                  <span *ngIf="b.status == 0"><del>{{b.name}} Quartz/Pin</del></span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('batterypower')?.invalid && formGroup.get('batterypower')?.touched">
                Vui lòng không bỏ trống thông số chống nước!
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Mô tả</mat-label>
            <textarea matInput placeholder="..." formControlName="description"></textarea>
            <mat-error
              *ngIf="formGroup.get('description')?.hasError('isSpace') && formGroup.get('description')?.touched">
              Vui lòng không bỏ trống mô tả sản phẩm!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button type="button" mat-raised-button matStepperNext (click)="touchedAllFieldInForm()">Next</button>
      </div>
  </form>
  </mat-step>
<!--    End thông tin sản phẩm-->

<!--    Hình ảnh sản phẩm chi tiết-->
    <mat-step [stepControl]="formImgDetail">
      <ng-template matStepLabel>Hình ảnh chi tiết sản phẩm</ng-template>
      <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)" *ngIf="showImageDetail">
        <ngx-dropzone-label style="font-size: 12px">Chọn hình ảnh chi tiết sản phẩm</ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                                    [removable]="true" (removed)="onRemove(f)">
        </ngx-dropzone-image-preview>
      </div>
      <div *ngIf="!showImageDetail" class="text-center">
        <img *ngFor="let image of listImageProductDetail" src="assets/img/imgDetailProduct/{{image.name}}" width="150px" class="me-2">
      </div>
      <div *ngIf="!showImageDetail" class="text-center">
        <button type="button" mat-icon-button color="primary" class="mt-2" (click)="changeShowImageDetail()">
          <i class="fa-solid fa-camera-rotate change-img"></i>
        </button>
      </div>
      <div class="mt-3">
        <button type="button" class="mr-2" mat-raised-button matStepperPrevious>Back</button>
        <button type="button" mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>
<!--    End Hình ảnh sản phẩm chi tiết-->

<!--    Hoàn thành-->
    <mat-step [stepControl]="formGroup && formImgDetail">
      <ng-template matStepLabel>Hoàn thành</ng-template>
        <p *ngIf="formGroup.getRawValue().id == '' "><i class="fa-solid fa-check text-success"></i> Mời bạn nhấn nút lưu để thêm sản phẩm!</p>
        <p *ngIf="formGroup.getRawValue().id != '' "><i class="fa-solid fa-check text-success"></i> Mời bạn nhấn nút lưu để cập nhật sản phẩm!</p>
<!--      Các nút thao tác-->
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button type="button" class="mx-2" mat-raised-button color="primary" (click)="onSubmit()">
          <span><i class="fa-solid fa-check"></i> Lưu</span>
        </button>
        <button type="button" mat-raised-button color="warn" (click)="onDismiss()">
          <span><i class="fa-regular fa-circle-xmark"></i> Ðóng</span>
        </button>
      </div>
    </mat-step>
<!--    End hoàn thành-->
</mat-stepper>
