<div class="container-fluid">
  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border spinner-center" role="status"></div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body text-center" style="padding: 3px">
        <mat-accordion>
          <mat-expansion-panel style="box-shadow: unset" [expanded]="true">
            <mat-expansion-panel-header>
              <b><i class="fa-solid fa-magnifying-glass"></i> TÌM KIẾM NHANH</b>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline">
              <mat-label>Từ khóa tìm kiếm</mat-label>
              <input matInput (keyup)="applyFilter($event)" [(ngModel)]="keySearch" placeholder="Mời bạn nhập từ khóa tìm kiếm">
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body text-center" style="padding: 3px">
        <mat-accordion>
          <mat-expansion-panel style="box-shadow: unset" [expanded]="true">
            <mat-expansion-panel-header>
              <b><i class="fa-solid fa-filter"></i> BỘ LỌC</b>
            </mat-expansion-panel-header>
            <div class="row">
              <form [formGroup]="formGroup">
                <mat-form-field appearance="outline" class="col-4">
                  <mat-label>Dòng sản phẩm</mat-label>
                  <mat-select formControlName="product_id">
                    <mat-option *ngFor="let p of listProduct" (click)="getAllFilter()" [value]="p.id">
                      {{p.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-3">
                  <mat-label>Thương hiệu</mat-label>
                  <mat-select formControlName="brand_id">
                    <mat-option *ngFor="let b of listBrand" (click)="getAllFilter()" [value]="b.id">
                      {{b.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-3">
                  <mat-label>Chất liệu</mat-label>
                  <mat-select formControlName="material_id">
                    <mat-option *ngFor="let m of listMaterial" (click)="getAllFilter()" [value]="m.id">
                      {{m.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-2">
                  <mat-label>Xuất xứ</mat-label>
                  <mat-select formControlName="origin_id">
                    <mat-option *ngFor="let o of listOrigin" (click)="getAllFilter()" [value]="o.id">
                      {{o.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-2">
                  <mat-label>Chống nước</mat-label>
                  <mat-select formControlName="waterproof_id">
                    <mat-option *ngFor="let w of listWaterproof" (click)="getAllFilter()" [value]="w.id">
                      {{w.name}} ATM
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <mat-form-field appearance="outline" class="col-2">
                  <mat-label>Đường kính mặt</mat-label>
                  <mat-select formControlName="facediameter_id">
                    <mat-option *ngFor="let f of listFacediameter" (click)="getAllFilter()" [value]="f.id">
                      {{f.name}} mm
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-3">
                  <mat-label>Năng lượng pin</mat-label>
                  <mat-select formControlName="batterypower_id">
                    <mat-option *ngFor="let b of listBatterypower" (click)="getAllFilter()" [value]="b.id">
                      {{b.name}} Quartz/Pin
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-3">
                  <mat-label>Trạng thái</mat-label>
                  <mat-select formControlName="status">
                    <mat-option (click)="getAllFilter()" [value]="1">Hoạt động</mat-option>
                    <mat-option (click)="getAllFilter()" [value]="0">Ngưng hoạt động</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-2">
                  <mat-label>Đối tượng sử dụng</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option (click)="getAllFilter()" [value]="true">Nam</mat-option>
                    <mat-option (click)="getAllFilter()" [value]="false">Nữ</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>

<div class="mb-3 text-center">
  <button *ngIf="role" mat-raised-button color="primary" (click)="openDiaLog(TYPE_DIALOG.NEW)"><i class="fa-solid fa-plus"></i>
    Thêm mới
  </button>
  <button mat-raised-button color="accent" (click)="onResetFilter()"><i class="fa-solid fa-arrows-rotate"></i>
    Làm mới
  </button>
</div>

<!-- Row -->
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div style="padding-top: 8px; padding-left: 12px">
          <h3><b><i class="fa-solid fa-list"></i> DANH SÁCH SẢN PHẨM</b></h3>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- index Column -->
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> STT</th>
            <td mat-cell *matCellDef="let row; index as i"> {{i + 1}} </td>
          </ng-container>

          <!-- avatar Column -->
          <ng-container matColumnDef="avatar-product">
            <th mat-header-cell *matHeaderCellDef> Hình ảnh</th>
            <td mat-cell *matCellDef="let row"><img src="assets/img/avtProduct/{{row.avatar}}" class="avatar-product">
            </td>
          </ng-container>

          <!-- name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width="18%"> Tên sản phẩm</th>
            <td mat-cell *matCellDef="let row" width="18%"> {{setNameProduct(row.name)}} </td>
          </ng-container>

          <!-- price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Giá tiền</th>
            <td mat-cell *matCellDef="let row"> {{row.price | number}} ₫</td>
          </ng-container>

          <!-- quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng</th>
            <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
          </ng-container>

          <!-- gender Column -->
          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Đối tượng sử dụng</th>
            <td mat-cell *matCellDef="let row"> {{row.gender ? 'Nam' : 'Nữ'}} </td>
          </ng-container>

          <!-- createDate Column -->
          <ng-container matColumnDef="createDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo</th>
            <td mat-cell *matCellDef="let row"> {{row.createDate | date:'dd-MM-yyyy'}} </td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.status == 1" class="status" style="background-color: green">Hoạt động</span>
              <span *ngIf="row.status == 0" class="status" style="background-color: orangered">Ngưng hoạt động</span>
            </td>
          </ng-container>

          <!-- thao tác Column -->
          <ng-container matColumnDef="thaoTac">
            <th mat-header-cell *matHeaderCellDef width="15%"> Thao tác</th>
            <td mat-cell *matCellDef="let row">
              <button *ngIf="role" mat-icon-button color="accent" (click)="openDiaLog(TYPE_DIALOG.UPDATE,row)">
                <i class="fa-solid fa-pen"></i>
              </button>
              <ng-container *ngIf="role">
                <button *ngIf="row.status == 0" mat-icon-button color="warn" (click)="openDeleteOrNoDelete(row,row.id,1)" title="Click để kích hoạt sản phẩm">
                  <i class="fa-solid fa-lock-open"></i>
                </button>
                <button *ngIf="row.status == 1" mat-icon-button class="text-green" (click)="openDeleteOrNoDelete(row,row.id,0)" title="Click để vô hiệu hóa sản phẩm">
                  <i class="fa-solid fa-lock"></i>
                </button>
              </ng-container>
              <button mat-icon-button color="primary" (click)="openViewDialog(row)">
                <i class="fa-solid fa-eye"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!--          Row shown when there is no matching data.-->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Không có dữ liệu nào phù hợp với "{{keySearch}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 35, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->

