<div class="container-fluid">
  <div *ngIf="isLoading" class="loading">
    <div class="spinner-border spinner-center" role="status"></div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Tìm kiếm theo mã đơn hàng</mat-label>
      <input matInput type="number" [(ngModel)]="searchOrderData" placeholder="Vd. 9 ">
    </mat-form-field>
    <div class="text-center">
      <button mat-raised-button color="accent" (click)="searchOrder()"><i class="fa-solid fa-search"></i>
        Tìm kiếm
      </button>
      <button class="ml-5" mat-raised-button color="primary" (click)="findAllOrder()"><i
        class="fa-solid fa-arrows-rotate"></i>
        Làm mới
      </button>
    </div>
  </div>
</div>

<div class="card">
  <mat-tab-group mat-align-tabs="center" style="background-color: #FFFFFF">
    <mat-tab label="{{t.lable}} ({{t.sl}})" *ngFor="let t of listMatTab">
      <ng-template *ngFor="let o of orders" [ngIf]="o.status == t.status">
        <div class="product">
          <div class="createDate d-flex justify-content-between">
            <p>Ngày mua hàng: {{o.createDate}}</p>
            <div class="status-order text-uppercase" [ngSwitch]="o.status">
              <p *ngSwitchCase="0">Chờ xác nhận</p>
              <p *ngSwitchCase="1">Chờ lấy hàng</p>
              <p *ngSwitchCase="2">Đang giao</p>
              <p *ngSwitchCase="3">Đã giao thành công</p>
              <p *ngSwitchCase="4">Đã huỷ</p>
              <p *ngSwitchCase="5">Đã giao cho khách</p>
              <p *ngSwitchCase="6">
                Trả hàng <i style="cursor: pointer; font-size: 23px" (click)="description(o.description)"
                          class="fa-solid fa-circle-info"></i>
              </p>
            </div>
          </div>
          <div class="createDate d-flex justify-content-between" style="margin-bottom: 10px">
            <p>
              Thông tin giao hàng: {{ o.phoneNumber }} - {{ o.fullname }} -
              {{ o.shipAddress }}
              <button (click)="openEditAddress(o.total, o.id)" *ngIf="o.status === 0 || o.status === 1" class="edit-address border-radius-5">Chỉnh
                sửa
              </button>
            </p>
            <p style="margin-top: 10px">
              Mã đơn hàng: {{ o.id }}
            </p>
          </div>
          <div class="max-height scroll-bar">
            <ng-template *ngFor="let odt of orderDetails" [ngIf]="odt.order.id == o.id">
              <div class="row w-100 product-detail">
                <div class="col-2 col-md-2 col-lg-2 imagee">
                  <img src="../../../assets/img/avtProduct/{{odt.productDetail.avatar}}" alt="Ảnh sản phẩm">
                </div>
                <div class="col-8 col-md-8 col-lg-8">
                  <p class="title">{{odt.productDetail.name}}</p>
                  <p>Chất liệu: {{odt.productDetail.material.name}}</p>
                  <p>Nhãn hiệu: {{odt.productDetail.brand.name}}</p>
                  <p>Số lượng: {{odt.quantity}}</p>
                </div>
                <div class="col-2 col-md-2 col-lg-2 price">
                  <div class="center">
                    <p *ngIf="odt.price != odt.productDetail.price">{{odt.price | number}} VND</p>
                    <p
                      [style]="odt.price != odt.productDetail.price ? 'text-decoration:line-through;color:red':''">
                      {{odt.productDetail.price | number}} VND
                    </p>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          <div class="total-payment ml-auto">
            <!--            <p>-->
            <!--              Giảm giá:-->
            <!--              <span style="padding-left: 5px; margin-right: 20px"-->
            <!--              >{{ o.discount | number }} VND</span-->
            <!--              >-->
            <!--            </p>-->
            <p>Tổng tiền hàng: {{ o.total | number }} VND</p>
            <p>Phí giao hàng: {{ o.feeShipping | number }} VND</p>
            <p>
              Tổng tiền thanh toán:
              <span style="color: red; font-size: 15px; padding-left: 5px"
              >{{ o.totalPayment | number }} VND
                  </span>
            </p>
          </div>
          <div class="button-confirm d-flex justify-content-end">
            <ng-template [ngIf]="o.status == 0"><!--                  || o.status == 1-->
              <button class="mr-3" (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.CANCEL,o.id)">Huỷ đơn hàng
              </button>
              <button (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.CONFIRM,o.id)">Xác nhận đơn hàng
              </button>
            </ng-template>
            <ng-template [ngIf]="o.status == 1">
              <button class="mr-3" (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.CANCEL,o.id)">Huỷ đơn hàng
              </button>
              <button (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.START_DELIVERY,o.id)">Bắt đầu giao
              </button>
            </ng-template>
            <ng-template [ngIf]="o.status == 2">
              <button (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.DONE,o.id)">Đã giao cho khách
              </button>
              <button (click)="updateStatusOrder(RESULT_CLOSE_DIALOG_ORDER.REVERT,o.id)">Khách từ chối nhận hàng
              </button>
            </ng-template>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
