.info-order {
  margin-top: 37px;
}

.order-sum {
  width: 70px;
  align-items: center;
  text-align: center;
}

.order-sum img {
  margin-top: 20px;
  width: 70px;
}

.order-sum p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
}

/*-------------------------------------------------------------*/
.product {
  border-bottom: 15px solid #F5F5F5;
  padding: 20px;
}

.createDate p {
  margin: 10px 0 10px 0;
}
.status-order p {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-detail {
  margin-bottom: 10px;
}

.product-detail p {
  font-size: 12px;
}

.product-detail .title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.total-payment {
  margin-top: 10px;
}

.button-confirm {
  margin: 10px 0 20px 0;
}

.button-confirm button {
  width: auto;
  height: 37px;
  border-radius: 5px;
  background-color: #ffc107;
  margin: 0 7px 0 7px;
  border: none;
}

.button-confirm button:hover {
  background-color: #e0aa0b;
}

.imagee img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.5px #9a9fa2 solid;
}

.price .center {
  margin-top: 37%;
  text-align: right;
}

.max-height {
  max-height: 413px;
  overflow: auto;
}
.scroll-bar::-webkit-scrollbar {
  width: 10px;
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: #fafafa;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #FFD333, #FFD333);
  /*border-radius: 50px;*/
}
.edit-address {
  height: 30px;
  padding: 5px 10px 5px 10px;
  background-color: #FFD333;
  border: none;
  border-radius: 5px;
}

.edit-address:hover {
  background-color: #ffcb0d;
}

.border-radius-5{
  border-radius: 5px;
}
