<div *ngIf="isLoading" class="loading">
  <div class="spinner-border spinner-center" role="status">
  </div>
</div>

<div class="d-flex justify-content-between">
  <h4 class="font-weight-bold">Đổi mật khẩu</h4>
  <i class="fa-solid fa-xmark" (click)="onDismiss()"></i>
</div>

<div class="text-center m-4">
  <div class="row">
    <mat-form-field appearance="outline" class="w-100" *ngIf="show">
      <mat-label>Mât khẩu hiện tại</mat-label>
      <input matInput [type]="hide1 ? 'password' : 'text'" [formControl]="currentPassControl" maxlength="24">
      <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error
        *ngIf="currentPassControl.hasError('required') &&
            currentPassControl.touched">Mật khẩu hiện tại không được để trống!
      </mat-error>
      <mat-error
        *ngIf="currentPassControl.hasError('pattern') &&
            currentPassControl.touched">Mật khẩu mới không được viết dấu và không chứa khoảng trắng!
      </mat-error>
    </mat-form-field>

    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline" class="w-100" *ngIf="!show">
        <mat-label>Mật khẩu mới</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="newPassControl" maxlength="24">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="formGroup.get('newPassControl')?.hasError('required') &&
            formGroup.get('newPassControl')?.touched">Mật khẩu mới không được để trống!
        </mat-error>
        <mat-error
          *ngIf="formGroup.get('newPassControl')?.hasError('minlength') &&
            formGroup.get('newPassControl')?.touched">Mật khẩu mới tối thiểu 8 ký tự!
        </mat-error>
        <mat-error
          *ngIf="formGroup.get('newPassControl')?.hasError('maxlength') &&
            formGroup.get('newPassControl')?.touched">Mật khẩu mới tối đa 24 ký tự!
        </mat-error>
        <mat-error
          *ngIf="formGroup.get('newPassControl')?.hasError('pattern') &&
            formGroup.get('newPassControl')?.touched">Mật khẩu mới không được viết dấu và không chứa khoảng trắng!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100" *ngIf="!show">
        <mat-label>Xác nhận mật khẩu mới</mat-label>
        <input matInput [type]="hide3 ? 'password' : 'text'" formControlName="confirmPassControl" maxlength="24">
        <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
          <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="formGroup.get('confirmPassControl')?.hasError('required') &&
            formGroup.get('confirmPassControl')?.touched">Xác nhận mật khẩu mới không được để trống!
        </mat-error>
        <mat-error
          *ngIf="formGroup.get('confirmPassControl')?.hasError('minlength') &&
            formGroup.get('confirmPassControl')?.touched">Xác nhận mật khẩu mới tối thiểu 8 ký tự!
        </mat-error>
        <mat-error
          *ngIf="formGroup.get('confirmPassControl')?.hasError('maxlength') &&
            formGroup.get('confirmPassControl')?.touched">Xác nhận mật khẩu mới tối đa 24 ký tự!
        </mat-error>
        <mat-error
          *ngIf="formGroup.get('confirmPassControl')?.hasError('pattern') &&
            formGroup.get('confirmPassControl')?.touched">Xác nhận mật khẩu mới không được viết dấu và không chứa khoảng trắng!
        </mat-error>
      </mat-form-field>
      <span style="font-size: 12px;color: red"
            *ngIf="formGroup.valid && formGroup.getRawValue().newPassControl !== formGroup.getRawValue().confirmPassControl">Mật khẩu không trùng khớp!
     </span>
    </form>


    <div class="w-100 mt-3">
      <button mat-raised-button style="background-color: black" class="text-warning" *ngIf="show" (click)="onAccuracy()"> Xác thực</button>
      <button mat-raised-button style="background-color: black" class="text-warning" *ngIf="!show" (click)="onSubmit()"><i class="fa-solid fa-check"></i> Thay đổi</button>
    </div>
  </div>
</div>
