<div *ngIf="isLoading" class="loading">
  <div class="spinner-border text-info spinner-center" role="status">
  </div>
</div>


<p class="fw-bold">
  {{title}}
</p>

<form [formGroup]="formGroup">

  <div class="row">

    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Tên chương trình</mat-label>
        <input formControlName="name" type="text" required matInput maxlength="255">
        <mat-error *ngIf="formGroup.get('name')?.hasError('isSpace')
        && formGroup.get('name')?.touched">
          Vui lòng điền tên chương trình khuyến mại!
        </mat-error>
        <mat-error *ngIf="formGroup.get('name')?.hasError('maxlength')
        && formGroup.get('name')?.touched">
          Tên chương trình khuyến mại tối đa 255 ký tự.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Thời gian</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="startDate" required placeholder="Ngày bắt đầu">
          <input matEndDate formControlName="endDate" required placeholder="Ngày kết thúc">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="range.get('startDate')?.hasError('required')
        || range.get('startDate')?.hasError('required')
        && range.get('endDate')?.touched">
          Vui lòng chọn ngày bắt đầu và ngày kết thúc!
        </mat-error>
        <mat-hint style="color: red"
                  *ngIf="range.errors?.isCheckDate && (range.get('startDate')?.touched || range.get('endDate')?.touched)">
          Ngày bắt đầu phải nhỏ hơn ngày kết thúc!
        </mat-hint>
        <mat-hint style="color: red"
                  *ngIf="range.get('startDate')?.hasError('checkMinDate') && range.get('startDate')?.touched">
          Ngày bắt đầu không được nhỏ hơn ngày hiện tại!
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="col-12 my-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Giá giảm</mat-label>
        <input formControlName="discount" type="number" min="1" required matInput>
        <mat-error *ngIf="formGroup.get('discount')?.hasError('required')
        && formGroup.get('discount')?.touched">
          Vui lòng nhập số % khuyến mại!
        </mat-error>
        <mat-error *ngIf="formGroup.get('discount')?.hasError('min')
        && formGroup.get('discount')?.touched">
          Vui lòng nhập số % khuyến mại lớn hơn 1!
        </mat-error>
        <mat-hint style="color: red"
                  *ngIf="formGroup.errors?.isType && (formGroup.get('discount')?.touched || formGroup.get('type')?.touched)">
          Khuyến mại theo % thì chỉ được nhập từ 1 > 99.
        </mat-hint>
      </mat-form-field>
    </div>

    <!--    <div class="col-3 my-2">-->
    <!--      <mat-form-field appearance="outline" class="w-100">-->
    <!--        <mat-label>Loại khuyến mại</mat-label>-->
    <!--        <mat-select formControlName="type">-->
    <!--          <mat-option [value]="false">VND</mat-option>-->
    <!--          <mat-option [value]="true">%</mat-option>-->
    <!--        </mat-select>-->
    <!--      </mat-form-field>-->
    <!--    </div>-->

    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Mô tả</mat-label>
        <textarea formControlName="description" rows="5" matInput></textarea>
      </mat-form-field>
    </div>

  </div>

  <div class="d-flex justify-content-center">
    <button mat-raised-button color="accent" (click)="save()">Lưu</button>
    <button mat-raised-button color="warn" (click)="close()" class="ml-5">Thoát</button>
  </div>
</form>

