<div class="d-flex justify-content-center align-items-center" style="height: 700px">
  <div class="row no-gutters shadow">
    <div class="col-md-6 d-none d-md-block">
      <img src="assets/img/login.jpg"
           style="min-height:100%;"/>
    </div>
    <div class="col-md-6 bg-white p-5">
      <h1 style="text-shadow: 0 4px 8px #FBC658FF;"><b>Đăng nhập</b></h1>
      <div class="form-style">
        <form [formGroup]="formGroup">
          <div class="form-group mb-3">
            <mat-form-field appearance="standard" class="w-100">
              <mat-label><i class="fa-solid fa-user"></i> Username</mat-label>
              <input type="text" matInput formControlName="username">
              <mat-error *ngIf="formGroup.get('username')?.hasError('isSpace') && formGroup.get('username')?.touched">
                Vui lòng không bỏ trống username!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group mb-3">
            <mat-form-field appearance="standard" class="w-100">
              <mat-label><i class="fa-solid fa-key"></i> Mật khẩu</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="formGroup.get('password')?.hasError('isSpace') && formGroup.get('password')?.touched">
                Vui lòng không bỏ trống password!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group d-flex justify-content-end mb-3">
            <a routerLink="/auth/forgot-password" style="color: rebeccapurple">Quên mật khẩu?</a>
          </div>
          <div class="form-group mb-3">
            <button mat-raised-button type="button" style="background-color: black;" class="w-100 text-warning" (click)="login()">Đăng nhập
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

