<div class="row">
  <h2 class="col-11">{{title}}</h2>
  <span class="col-1 fs-4" (click)="onDismiss()"><i class="fa-solid fa-xmark"></i></span>
</div>


<form class="example-form" [formGroup]="formGroup">
  <div class="row">
    <div class="col-4">
      <div class="" ngx-dropzone [accept]="'image/*'"
           (change)="onSelectImg($event)"
           [multiple]='false' *ngIf="showImage">
        <ngx-dropzone-label>Chọn hình ảnh</ngx-dropzone-label>
        <ngx-dropzone-image-preview *ngIf="fileImg.length > 0"
                                    ngProjectAs="ngx-dropzone-preview"
                                    class="imgCate"
                                    [file]="fileImg[0]"
                                    [removable]="true"
                                    (removed)="onRemoveImg()">
        </ngx-dropzone-image-preview>
      </div>
      <div *ngIf="!showImage" class="text-center">
        <img src="assets/img/imageCategory/{{formGroup.getRawValue().image}}">
      </div>
      <div *ngIf="!showImage" class="text-center">
        <button type="button" mat-icon-button color="primary" class="mt-3" (click)="showImage = !showImage"><i class="fa-solid fa-rotate-right fs-4"></i></button>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Tên danh mục</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error
            *ngIf="formGroup.get('name')?.hasError('isSpace') && formGroup.get('name')?.touched">
            Vui lòng không bỏ trống tên danh mục
          </mat-error>
          <mat-error
            *ngIf="formGroup.get('name')?.hasError('pattern') && formGroup.get('name')?.touched">
            Vui lòng không chứa ký tự đặc biệt ở tên danh mục
          </mat-error>
          <mat-error
            *ngIf="formGroup.get('name')?.hasError('maxlength') && formGroup.get('name')?.touched">
            Vui lòng không nhập quá 255 ký tự
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100" *ngIf="title == 'Thêm mới danh mục'">
          <mat-label>Trạng thái</mat-label>
          <mat-select disableRipple formControlName="status">
            <mat-option [value]="1">Còn kinh doanh</mat-option>
            <mat-option [value]="0">Ngừng kinh doanh</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      <span>Lưu</span>
    </button>
    <button mat-raised-button color="warn" (click)="onDismiss()">
      <span>Đóng</span>
    </button>
  </mat-dialog-actions>
</form>



