<div class="all container-fluid h-auto">
  <div class="row p-2" style="background-color: #181818">
    <!--    Tìm Kiếm   -->
    <div class="col-lg-4 col-4 text-left">
      <div class="d-flex">
        <a class="mr-lg-4" (click)="backToHome()" mat-mini-fab color="white">
          <mat-icon>home</mat-icon>
        </a>
        <div class="ng-autocomplete">
          <ng-autocomplete [data]="dataSearch" [searchKeyword]="keyword"
                           placeholder="Tìm kiếm sản phẩm. . . . ." (selected)='selectEvent($event)'
                           (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
                           [formControl]="keySearch"
                           (keyup.enter)="onSubmitSearch()">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <div class="d-flex p-2">
              <div class="justify-content-start">
                <img alt="" class="example-option-img" src="assets/img/avtProduct/{{item.avatar}}"
                     height="60">
              </div>
              <div class="justify-content-end ml-3">
                <p class="font-weight-bold text-dark" [innerHTML]="item.name"></p>
                <p>Giá: <span class="font-weight-bold text-danger">{{item.price}}</span> | Số lượng:
                  <span class="font-weight-bold text-danger">{{item.quantity}}</span></p>
              </div>
            </div>
          </ng-template>
        </div>
        <a (click)="openScannerBarcode()" class="mx-lg-2" mat-mini-fab color="white">
          <i class="fa-solid fa-barcode iii"></i>
        </a>
      </div>
    </div>
    <!--    End tìm kiếm -->

    <!--    tab order  -->
    <div class="col-6">
      <mat-tab-group [selectedIndex]="selected.value" animationDuration="0ms"
                     (selectedIndexChange)="selected.setValue($event)">
        <mat-tab *ngFor="let tab of tabs; let index = index" id="tab-{{index}}">
          <ng-template mat-tab-label>
            <div class="font-weight-bold" style="color: white" (click)="getOrderDetailByOrder(index + 1)">
              Hóa đơn {{ index + 1 }}
              <a mat-icon-button class="text-white" (click)="removeTab(index)">
                <i class="fas fa-times"></i>
              </a>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <!--    end tab  -->

    <div class="col-2 text-right">
      <a (click)="addTab(true)" class="mx-lg-2" mat-mini-fab color="white">
        <mat-icon>add</mat-icon>
      </a>
<!--      <a [matMenuTriggerFor]="menu" class="mx-lg-2" mat-mini-fab color="white">-->
<!--        <mat-icon>menu</mat-icon>-->
<!--      </a>-->
<!--      <mat-menu #menu="matMenu" class="w-auto">-->
<!--        <a class="nav-link" style="color: black" mat-menu-item (click)="openHistory()">-->
<!--          <i class="fa-solid fa-clock-rotate-left"></i> Lịch sử hóa đơn-->
<!--        </a>-->
<!--        <mat-divider></mat-divider>-->
<!--        <a class="nav-link" style="color: black" mat-menu-item (click)="openInfoUser()">-->
<!--          <i class="fa-regular fa-user"></i> Thông tin cá nhân-->
<!--        </a>-->
<!--        <a class="nav-link" style="color: black" mat-menu-item (click)="logout()">-->
<!--          <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất-->
<!--        </a>-->
<!--      </mat-menu>-->
    </div>
  </div>

  <div class="row mt-3 mr-lg-0">
    <!--    Giỏ hàng bên trái -->
    <div class="col-8">
      <div class="shadow-sm mb-3 orders" style="border-radius: 5px;"
           *ngFor="let order of orderDetails;let index = index">
        <mat-grid-list cols="6" rowHeight="3:1">
          <mat-grid-tile>{{index + 1}}</mat-grid-tile>
          <mat-grid-tile>
            {{order.productDetail.name}}
<!--            <span *ngIf="promotions">({{promotions}}%)</span>-->
          </mat-grid-tile>
          <mat-grid-tile>{{order.price | currency:'VND'}}</mat-grid-tile>
          <mat-grid-tile><input (change)="updateOrderDetail(order,TYPE_UPDATE_NUMBER_PRD, $event)"
                                type="number" min="1" required
                                class="border-radius-10 form-control form-control-sm border-0 text-center mx-2"
                                value="{{order.quantity}}">
          </mat-grid-tile>
          <mat-grid-tile>{{order.price * order.quantity | currency:'VND'}}</mat-grid-tile>
          <mat-grid-tile>
            <a mat-icon-button color="warn" (click)="deleteOrderDetail(order.productDetail.id)">
              <i class="fa-sharp fa-solid fa-trash"></i>
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

    <!--    Thanh toán bên phải-->
    <div class="col-4 shadow-sm orders" style="border-radius: 5px">
      <form [formGroup]="formGroupCustomer">
        <div class="row mt-3">
          <div class="name col-8 font-weight-bold text-dark">
            <i class="fa-regular fa-user"></i>
            <span> {{full_name}} </span>
          </div>

          <label class="col-4 font-weight-bold text-dark">
            {{ createOrder.createDate | date: 'dd-MM-yyyy hh:mm' }}
          </label>

          <div class="col-11 py-0">
            <mat-form-field appearance="outline" class="w-100" formGroupName="customer">
              <mat-label>Tên khách hàng</mat-label>
              <mat-select formControlName="id">
                <mat-option *ngFor="let c of listCustomer" [value]="c.id">{{c.firstname}} {{c.lastname}}
                  {{c.phoneNumber == '' ? '' : '-'}} {{c.phoneNumber}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="justify-content-between mr-1 pt-1">
            <button class="btn btn-sm btn-outline-warning px-2" type="button" title="Thêm khách hàng"
                    (click)="openSave(TYPE_DIALOG.NEW)">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>

        <div class="p-30 mb-3">
          <div class="border-top pt-1">
            <div class="d-flex justify-content-between mb-1 pt-3">
              <h4>Tổng tiền hàng
                <span class="badge text-secondary border border-secondary rounded-circle"
                      style="padding-bottom: 2px">{{countQuantity}}</span>
              </h4>
              <h4>{{tongTienHang | currency:'VND'}}</h4>
            </div>
            <div class="d-flex justify-content-between mb-1 pt-3">
              <h4>Giảm giá (% -> đ)</h4>
              <h4>{{giamGia | currency:'VND'}}</h4>
            </div>
            <div class="border-top pt-2">
              <div class="d-flex justify-content-between pt-3">
                <h4>Tiền khách cần trả</h4>
                <h4>{{tienKhachCanTra | currency:'VND'}}</h4>
              </div>

              <div class="row">
                <div class="col-9 pt-3 my-2">
                  <h4>Tiền khách đưa</h4>
                </div>
                <div class="col-3">
                  <form [formGroup]="formMoney">
                    <mat-form-field class="w-100">
                      <input class="giamgia" currencyMask formControlName="tienKhachDua"
                             [options]="{prefix: 'đ', decimal: ',', precision: 0}" matInput
                             [(ngModel)]="tienKhachDua">
                    </mat-form-field>
                  </form>
                </div>
              </div>

              <div class="d-flex justify-content-between">
                <h4>Tiền thừa trả khách</h4>
                <h4 *ngIf="tienKhachDua > 0">{{tienKhachDua - tienKhachCanTra | currency:'VND'}}</h4>
              </div>


              <div class="d-flex justify-content-between">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Ghi chú</mat-label>
                  <textarea rows="8" matInput formControlName="description"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-block text-warning font-weight-bold my-3 py-3"
                    style="background-color: black" (click)="payment()">
              Thanh toán
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
