<div *ngIf="isLoading" class="loading">
  <div class="spinner-border spinner-center" role="status">
  </div>
</div>

<div>
  <div class="d-flex justify-content-between">
    <h2>Quản Lý Sản Phẩm Khuyến Mại</h2>
    <i (click)="close()" style="font-size: 30px; cursor: pointer" class="fa-solid fa-xmark"></i>
  </div>

  <div class="row mt-2">

    <div class="col-12 col-md-6">
      <div class="card">
        <h3><b><i class="fa-solid fa-magnifying-glass"></i> TÌM KIẾM NHANH</b></h3>
        <div class="card-body py-0">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tìm kiếm</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm " #input>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">

      <div class="card">
        <h3><b><i class="fa-solid fa-filter"></i> BỘ LỌC</b></h3>
        <div class="card-body row py-0">

          <div class="col-12 col-md-11">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Chương trình khuyến mại</mat-label>
              <mat-select [(ngModel)]="filterPromotional">
                <mat-option [value]="null">--</mat-option>
                <mat-option (click)="getFilterPromotional()" *ngFor="let p of promotionalList"
                            [value]="p.id">{{p.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!--        <div class="col-4 col-md-5">-->
          <!--          <mat-form-field appearance="outline" class="w-100">-->
          <!--            <mat-label>Loại khuyến mại</mat-label>-->
          <!--            <mat-select [(ngModel)]="filterType">-->
          <!--              <mat-option [value]="null">&#45;&#45;</mat-option>-->
          <!--              <mat-option (click)="getFilterType()" [value]="false">VND</mat-option>-->
          <!--              <mat-option (click)="getFilterType()" [value]="true">%</mat-option>-->
          <!--            </mat-select>-->
          <!--          </mat-form-field>-->
          <!--        </div>-->

          <div class="col-1 col-md-1 pl-0">
            <button class="btn btn-sm btn-outline-danger mt-3 px-2" type="button"
                    (click)="getAll()" title="Đặt lại">
              <i class="fa-solid fa-rotate"></i>
            </button>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="text-center my-3">
    <ng-container *ngIf="role">
      <button class="mr-5" mat-raised-button color="primary" (click)="openSave(TYPE_DIALOG.NEW);">
        <i class="fa-solid fa-plus"></i> Thêm mới
      </button>
      <button mat-raised-button color="warn" (click)="delete();">
        <i class="fa-solid fa-minus"></i> Xoá
      </button>
    </ng-container>
  </div>

  <div class="row row-sm">
    <div class="col-lg-12 col-md-12">
      <div class="card custom-card">
        <div class="card-body">
          <table mat-table [dataSource]="dataSource" matSort class="w-100 table-hover">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="productName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên sản phẩm</th>
              <td mat-cell *matCellDef="let row"> {{row.prdName}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Giá gốc</th>
              <td mat-cell *matCellDef="let row"> {{row.prdPrice | number: '1.0-0'}} VND</td>
            </ng-container>

            <ng-container matColumnDef="promotionalPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Khuyến mại</th>
              <td mat-cell
                  *matCellDef="let row"> {{row.prmDiscount}}{{row.prmType ? '%' : ' VND'}} </td>
            </ng-container>

            <ng-container matColumnDef="priceBefore">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Giá sau khuyến mại</th>
              <td mat-cell *matCellDef="let row">
                {{row.prdPrice -
              (row.prmType ?
                (row.prdPrice * (row.prmDiscount / 100)) :
                row.prmDiscount) | number: '1.0-0'}} VND
              </td>
            </ng-container>

            <ng-container matColumnDef="promotional">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Chương trình khuyến mại</th>
              <td mat-cell *matCellDef="let row"> {{row.prmName}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái</th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.prmStatus == 2" class="status" style="background-color: #ffc600">Đang chờ</span>
                <span *ngIf="row.prmStatus == 1" class="status" style="background-color: green">Hoạt động</span>
                <span *ngIf="row.prmStatus == 0" class="status"
                      style="background-color: orangered">Ngưng hoạt động</span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
              >
            </tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Không có dữ liệu: "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </div>
  </div>

</div>
