table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 14.2%;
}
.text-green{
  color: green;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #f5f5f5;
}

.mat-raised-button{
  margin-right: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.status{
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 10px;
  width: 100%;
}


.image-category{
  width: 60px;
  margin: 2px;
}

.text-green{
  color: green;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #f5f5f5;
}

.mat-raised-button{
  margin-right: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.status{
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 10px;
  width: 100%;
}
