<div *ngIf="isLoading" class="loading">
  <div class="spinner-border spinner-center" role="status">
  </div>
</div>

<div class="row">

  <div class="col-12 col-md-6">
    <div class="card">
      <h3><b><i class="fa-solid fa-magnifying-glass"></i> TÌM KIẾM NHANH</b></h3>
      <div class="card-body py-0">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tìm kiếm</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm " #input>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">

    <div class="card">
      <h3><b><i class="fa-solid fa-filter"></i> BỘ LỌC</b></h3>

      <form [formGroup]="formGroup">
        <div class="card-body row py-0">
          <div class="col-6 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Thời gian</mat-label>
              <mat-date-range-input (click)="filterAll()" [rangePicker]="picker">
                <input formControlName="startDate" matStartDate
                       placeholder="Ngày bắt đầu">
                <input formControlName="endDate" matEndDate placeholder="Ngày kết thúc">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>

          <div class="col-5 col-md-5">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Trạng thái</mat-label>
              <mat-select formControlName="status">
                <mat-option>--</mat-option>
                <mat-option (click)="filterAll()" [value]="0">Ngưng hoạt động</mat-option>
                <mat-option (click)="filterAll()" [value]="1">Đang hoạt động</mat-option>
                <mat-option (click)="filterAll()" [value]="2">Đang chờ</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!--          <div class="col-6 col-md-3">-->
          <!--            <mat-form-field appearance="outline" class="w-100">-->
          <!--              <mat-label>Loại khuyến mại</mat-label>-->
          <!--              <mat-select formControlName="type">-->
          <!--                <mat-option>&#45;&#45;</mat-option>-->
          <!--                <mat-option (click)="filterAll()" [value]="0">VND</mat-option>-->
          <!--                <mat-option (click)="filterAll()" [value]="1">%</mat-option>-->
          <!--              </mat-select>-->
          <!--            </mat-form-field>-->
          <!--          </div>-->

          <div class="col-1 col-md-1 pl-0">
            <button class="btn btn-sm btn-outline-danger mt-3 px-2" type="button"
                    (click)="getAll()" title="Đặt lại">
              <i class="fa-solid fa-rotate"></i>
            </button>
          </div>
        </div>
      </form>

    </div>

  </div>
</div>

<div class="text-center my-3">
  <a class="mr-5" mat-raised-button color="primary" (click)="openProductInPromotional()">
    <i class="fa-solid fa-plus"></i> Quản lý sản phẩm khuyến mại
  </a>

  <ng-container *ngIf="role">
    <button mat-raised-button color="primary" (click)="openSave(TYPE_DIALOG.NEW)">
      <i class="fa-solid fa-plus"></i> Thêm
    </button>
  </ng-container>
</div>

<!-- Row -->
<div class="row row-sm">
  <div class="col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-body">
        <table mat-table [dataSource]="dataSource" matSort class="w-100 table-hover">

          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> STT</th>
            <td mat-cell *matCellDef="let row, index as index "> {{index + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên chuơng trình</th>
            <td mat-cell *matCellDef="let row"> {{row.name}}</td>
          </ng-container>

          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Giảm giá</th>
            <td mat-cell *matCellDef="let row"> {{row.discount | number}}{{row.type == 0 ? ' VND' : '%'}}</td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày bắt đầu</th>
            <td mat-cell *matCellDef="let row">{{row.startDate  | date: 'dd/MM/yyyy'}}</td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày kết thúc</th>
            <td mat-cell *matCellDef="let row"> {{row.endDate | date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái</th>
            <td mat-cell *matCellDef="let row" [class.hoat-dong]="row.status == 1" [class.dang-cho]="row.status == 2"
                [class.ngung-hoat-dong]="row.status == 0">
              {{row.status == 1 ? 'Đang hoạt động' : row.status == 2 ? 'Đang chờ' : 'Ngưng hoạt động'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.status == 2" class="status" style="background-color: #ffc600 ">Đang chờ</span>
              <span *ngIf="row.status == 1" class="status" style="background-color: green">Hoạt động</span>
              <span *ngIf="row.status == 0" class="status" style="background-color: orangered">Ngưng hoạt động</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="staff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nguời tạo</th>
            <td mat-cell *matCellDef="let row"> {{row.staff.firstname}} {{row.staff.lastname}}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mô tả</th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Hành động
            </th>
            <td mat-cell *matCellDef="let row" class="text-center">
              <ng-container *ngIf="role">
                <button mat-icon-button color="accent" *ngIf="row.status == 1 || row.status == 2" type="button"
                        (click)="openSave(TYPE_DIALOG.UPDATE, row)" title="Sửa">
                  <i class="fa-solid fa-pen"></i>
                </button>

                <!--              <button mat-icon-button *ngIf="row.status == 0" class="btn btn-sm btn-outline-danger px-2"-->
                <!--                      type="button"-->
                <!--                      (click)="active(RESULT_CLOSE_DIALOG.ACTIVE,row)" title="Kích hoạt">-->
                <!--                <i class="fa-solid fa-lock"></i>-->
                <!--              </button>-->

                <button *ngIf="row.status == 1 || row.status == 2" mat-icon-button class="text-green"
                        type="button"
                        (click)="active(RESULT_CLOSE_DIALOG.NOT_ACTIVE,row)" title="Vô hiệu hoá">
                  <i class="fa-solid fa-lock-open"></i>
                </button>
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Không có dữ liệu: "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->

