.img-staff {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: contain;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th, td {
  font-size: 12px;
}
td{
  width: 11.1111111111111111111111111%;
}
.hoat-dong{
  color: green;
  font-weight: bold;
}

.ngung-hoat-dong{
  color: red;
  font-weight: bold;
}


.dang-cho{
  color: rgb(211, 159, 8);
  font-weight: bold;
}

